@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.loginFormPage {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .loginFormPage {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.loginFormContainer {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .loginFormContainer {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.loginFormLeft {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .loginFormLeft {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.loginFormLogin {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.loginFormErrormessages {
  color: red;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.loginFormRight {
  background: #000000;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .loginFormRight {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
.loginFormRight svg {
  position: absolute;
  width: 320px;
}
.loginFormPath {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.loginFormInput {
  margin: 40px;
  position: absolute;
}
.loginFormInput label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.loginFormInput input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
.loginFormInput input::-moz-focus-inner { 
  border: 0; 
}
.loginFormInput #submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
.loginFormInput #submit:focus {
  color: #f2f2f2;
}
.loginFormInput #submit:active {
  color: #d0d0d2;
}
