.side_bar {
  width: 300px;
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
}

.side_bar > div,
.side_bar > a {
  padding: 20px 0;
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.my_page {
  border-bottom: 1px solid black;
  font-size: 32px;
  font-weight: bold;
}

.my_store {
  background-image: url('../img/store.png');
  background-repeat: no-repeat;
  background-position: 100px center;
  padding-left: 35px;
}

.my_info {
  background-image: url('../img/info.png');
  background-repeat: no-repeat;
  background-position: 100px center;
  padding-left: 35px;
}

.buy_history {
  background-image: url('../img/buy.png');
  background-repeat: no-repeat;
  background-position: 115px center;
  padding-left: 35px;
}

.sell_history {
  background-image: url('../img/sell.png');
  background-repeat: no-repeat;
  background-position: 115px center;
  padding-left: 35px;
}

.like_product {
  background-image: url('../img/like.png');
  background-repeat: no-repeat;
  background-position: 115px center;
  padding-left: 35px;
}

.writed_review {
  background-image: url('../img/writed_review.png');
  background-repeat: no-repeat;
  background-position: 115px center;
  padding-left: 35px;
}

.received_review {
  background-image: url('../img/received_review.png');
  background-repeat: no-repeat;
  background-position: 115px center;
  padding-left: 35px;
}

.follow_list {
  background-image: url('../img/follow.png');
  background-repeat: no-repeat;
  background-position: 140px center;
  padding-left: 35px;
}
